.custom-form {
  max-width: 600px; /* Giảm chiều rộng tối đa */
  margin: 10px;
  padding: 40px;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.custom-form:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.custom-form label {
  margin-bottom: 0.5rem; /* Tăng margin-bottom một chút để rõ ràng hơn */
  font-size: 1.2rem; /* Tăng kích cỡ chữ */
}

.custom-form select,
.custom-form input[type="text"],
.custom-form input[type="number"] {
  width: 80%; /* Giảm chiều rộng của các input fields */
  padding: 0.3rem; /* Giảm padding */
  margin-bottom: 0.6rem; /* Giảm margin-bottom */
  font-size: 1rem; /* Tăng kích cỡ chữ */
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.custom-form button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 0.4rem 0.8rem; /* Điều chỉnh padding */
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem; /* Tăng kích cỡ chữ */
  margin-top: 0.4rem; /* Điều chỉnh margin-top */
}

.custom-form button:hover {
  background-color: #0056b3;
}

.nested-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px; /* Điều chỉnh margin-bottom */
}

.form-container {
  display: inline-block;
  vertical-align: top;
  width: 48%; /* Đảm bảo hai form chiếm đều chiều rộng */
  box-sizing: border-box;
  margin-right: 2%; /* Khoảng cách giữa hai form */
}

.form-container:last-child {
  margin-right: 0; /* Bỏ khoảng cách phải của form cuối cùng */
}





